@model Auth.Models.UserClients

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    

</head>
<body>
    <div id="sidebar">
        <form action="AddClientBtn" method="post">
            <ol>
                <li><p><input type="text" name="CompanyName" placeholder="Введите название компании" size="28" /></p></li>
                <li>
                    <p>
                        <select name="OwnershipType">
                            <option disabled>Укажите форму собственности</option>
                            <option>ООО</option>
                            <option>ОАО</option>
                            <option>ЗАО</option>
                        </select>
                    </p>
                </li>
                <li><p><input type="text" name="Adress" placeholder="Укажите почтовый адрес" size="28" /></p></li>
                <li><p><input type="text" name="LegalAdress" placeholder="Укажите юридический адрес" size="28" /></p></li>
                <li><p><input type="text" name="CheckingAccount" placeholder="Введите рассчетный счет" size="28" /></p></li>
                <li><p><input type="text" name="BankBin" placeholder="Укажите банк бин" size="28" /></p></li>
                <li><p><input type="text" name="UNP" placeholder="Введите УНП" size="28" /></p></li>
                <li><p><input type="text" name="OKPO" placeholder="Введите ОКПО" size="28" /></p></li>
                <li><p><input type="text" name="ONPF" placeholder="Введите ОНПФ" size="28" /></p></li>
                <li>
                    <p>
                        <select name="FolderLanguage">
                            <option disabled>Выберите язык отображения папок</option>
                            <option>Русский</option>
                            <option>Украинский</option>
                            <option>Белорусский</option>
                        </select>
                    </p>
                </li>
            </ol>
            <input type="submit" value="submit" />
        </form>
     </div>
    <div id="main">

    </div>
    
</body>
</html>

<style>
    .btnInpSt {
        width: 243px;
        height: 35px;
        font-size: 18px;
        color: #0094ff;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }
    
    #sidebar {
        background-color: #eee;
        float: left;
        width: 350px;
        height: 900px;
        border: solid 1px black;
        position: absolute;
        top: 30px;
        left: 150px;
    }

    #main {
        background-color: #eee;
        height: 900px;
        width: 1040px;
        position: absolute;
        border: solid 1px black;
        top: 30px;
        left: 505px;
    }

  
</style>