<body>
    <input type="button" id="OpenEmployeeListBtn" class="btnInpSt" value="Открыть список сотрудников" style="top: 20px" />
    <div id="EmployeeList" title="Список сотрудников" class="partialView">aaaaaaaaaaaaaaaaaaaaa</div>
</body>

@section Scripts {
    <script>

        


    </script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    
    <input type="button" id="OpenEmployeeListBtn" class="btnInpSt" value="Открыть список сотрудников" style="top: 20px;" />
    <div id="EmployeeList" title="Список сотрудников" class="partialView"></div>
}

<style>
    .btnInpSt {
        width: 243px;
        height: 35px;
        font-size: 18px;
        color: #0094ff;
        position: absolute;
        bottom: 0px;
        left: 2px;
    }

    .partialView {
        margin-top: 40px;
        width: 400px;
        height: auto;
    }
</style>


