@model Auth.Models.User

@{
    ViewData["Title"] = "AddNewCompany";
}

<body>
    <div id="head">
        <h2>Заполните форму ниже для добавления новой компании</h2>
    </div>
    <div id="mainForm">
        <form action="AddNewCompany" method="post">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <input type="text" class="input" asp-for="Login" name="Login" placeholder="Введите логин компании" />
                <span class="errors" asp-validation-for="Login"></span>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="Password" name="Password" placeholder="Введите пароль для нее" style="top: 30px; width: 380px" />
                <span class="errors" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="text" class="input" id="CompanyName" asp-for="CompanyName" name="CompanyName" placeholder="Введите название компании" size="28" />
                <span class="errors" asp-validation-for="CompanyName"></span>
            </div>
            <div class="form-group">
                <select class="input" id="OwnershipType" asp-for="OwnershipType" name="OwnershipType">
                    <option disabled>Укажите форму собственности</option>
                    <option >ООО</option>
                    <option >ОАО</option>
                    <option >ЗАО</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="Adress" name="Adress" placeholder="Укажите почтовый адрес" size="28" />
                <h5 class="hint">*Пример: Республика Беларусь, г. Минск, ул.Гамарника, 30, БЦ «Зелёный луг»</h5>
                <span class="errors" asp-validation-for="Adress"></span>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="LegalAdress" name="LegalAdress" placeholder="Укажите юридический адрес" size="28" />
                <span class="errors" asp-validation-for="LegalAdress"></span>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="CheckingAccount" name="CheckingAccount" placeholder="Введите рассчетный счет" size="28" />
                <span class="errors" asp-validation-for="CheckingAccount"></span>
                <h5 class="hint">*Пример: BY98ALFA3012890789078907</h5>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="BankName" name="BankName" placeholder="Укажите название банка" size="28" />
                <span class="errors" asp-validation-for="BankName"></span>
                <h5 class="hint">*Пример: ООО «Альфа банк»</h5>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="BankBin" name="BankBin" placeholder="Укажите банк бин" size="28" />
                <span class="errors" asp-validation-for="BankBin"></span>
                <h5 class="hint">*Пример: ALFABY2X</h5>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="UNP" name="UNP" maxlength="9" placeholder="Введите УНП" size="28" />
                <span class="errors" asp-validation-for="UNP"></span>
                <h5 class="hint">*Пример: 691836106</h5>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="OKPO" name="OKPO" maxlength="20" placeholder="Введите ОКПО" size="28" />
                <span class="errors" asp-validation-for="OKPO"></span>
                <h5 class="hint">*Пример: 93710472994612749382</h5>
            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="ONPF" name="ONPF" maxlength="20" placeholder="Введите ОНПФ" size="28" />
                <span class="errors" asp-validation-for="ONPF"></span>
                <h5 class="hint">*Пример: 27193746382019283741</h5>
            </div>
            <div class="form-group">
                <select asp-for="FolderLanguage" name="FolderLanguage" class="input">
                    <option disabled>Выберите язык отображения папок</option>
                    <option>Русский</option>
                    <option>Украинский</option>
                    <option>Белорусский</option>
                </select>
            </div>
            <div class="btnAdd" style="margin-top: 20px; display: flex;">
                <input type="submit" value="Добавить" />
                <input type="button" style="margin-left: 20px; " value="Вернуться в панель администратора" onclick="window.location.href='@Url.Action("Index", "Admin")';" />
            </div>
            <div>
                <div style="color: blue; padding-top: 10px; font-weight: bold; font-size: 16px; white-space: normal">
                    @ViewData["Successfull"] в этом месте должно обновиться ViewData
                </div>
                <div style="color: Red; padding-top: 10px; font-weight: bold; font-size: 16px; white-space: normal">
                    @ViewData["Unsuccessfull"]
                </div>
            </div>
        </form>
    </div>

</body>

@section scripts{

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
    </environment>
}

<style>

    #head {
        width: 400px;
        position: absolute;
        top: 50px;
        left: 635px;
        white-space: normal;
    }

    #mainForm {
        border: 1px solid gray;
        padding-left: 30px;
        padding-top: 30px;
        height: auto;
        width: 440px;
        position: absolute;
        top: 150px;
        left: 635px;
    }

    .input {
        border-color: #6fc2ff;
        border-radius: 4px;
        height: 30px;
        width: 380px;
    }



    .btnAdd {
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: #0094ff;
    }

    .errors {
        font-size: 16px;
        color: red;
    }

    .hint {
        font-size: 15px;
        font-style: italic;
        color: dimgray;
    }
</style>