@model Auth.Models.User

@{
    ViewData["Title"] = "AddNewCompany";
}

<body>
    <div id="mainForm">
        <form action="AddNewCompany" method="post">
            <div class="form-group">
                <input type="text" class="input" asp-for="Login" placeholder="Введите логин компании" style="width: 380px" required />

            </div>
            <div class="form-group">
                <input type="text" class="input" asp-for="Password" name="Password" placeholder="Введите пароль для нее" style="top: 30px; width: 380px" required />
            </div>
            <div class="btnAdd" style="margin-top: 20px; display: flex;">
                <input type="submit" value="Добавить" />
                <input type="button" style="margin-left: 20px" value="Вернуться в панель администратора" onclick="window.location.href='@Url.Action("Index", "Admin")';" />
            </div>
            <div style="color: blue; padding-top: 10px; font-weight: bold; font-size: 16px; white-space: normal">
                <span asp-validation-for="Login" style="color: red;  font-weight: bold; font-size: 16px;"></span>
                <span asp-validation-for="Password" style="color: red;   font-weight: bold; font-size: 16px;"></span>
                @ViewData["Successfull"]
            </div>
        </form>
    </div>
    <div class="modal-body"></div>
</body>


<style>
    #mainForm {
        border: 1px solid gray;
        height: auto;
        width: 380px;
        position: absolute;
        top: 180px;
        left: 735px;
    }

    .input {
        border-color: #6fc2ff;
        border-radius: 4px;
        height: 30px;
        width: 230px;
    }

    .btnAdd {
       
        width: 150px;
        height: 30px;
        font-size: 15px;
        color: #0094ff;
    }

</style>
